<launch>

    <include file="$(find orbbec_camera)/launch/femto_mega.launch"/>
    
    <!-- <node name="camera_setting" pkg="tof_detection" type="setting.py" output="screen">
    </node> -->

    <node name="calibration" pkg="tof_detection" type="calibration.py" output="screen">
    </node>

</launch>